REACT_APP_FIREBASE_API_KEY="AIzaSyCgJ5csHnSKuhwR5kbqiM8YwLNS5z6iQAY"
REACT_APP_FIREBASE_AUTH_DOMAIN="holyguide-41f6e.firebaseapp.com"
REACT_APP_FIREBASE_PROJECT_ID="holyguide-41f6e"
REACT_APP_FIREBASE_STORAGE_BUCKET="holyguide-41f6e.appspot.com"
REACT_APP_FIREBASE_MESSAGING_SENDER_ID="456556572583"
REACT_APP_FIREBASE_APP_ID="1:456556572583:web:96171f36c0a31d73151082"
REACT_APP_FIREBASE_MEASUREMENT_ID="G-490YLDTSQH"